[Unit]
Description=java_service
After = syslog.target network.target

[Service]
SuccessExitStatus=143
Restart=always
RestartSec=5s
User=root
Type=simple
ExecStart=/usr/lib/jvm/java-17-openjdk-amd64/bin/java -jar /home/administrator/java/app.jar /home/administrator/java/some_out_file "Service is working!"
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target
© 2022 GitHub, Inc.
Terms

